@font-face {
  font-family: 'Roboto';

  font-style: normal;
  font-weight: normal;

  src: url('../fonts/web/roboto.woff') format('woff');
  src: url('../fonts/web/roboto.woff2') format('woff2');

}

@font-face {
  font-family: 'Roboto Bold';

  font-style: normal;
  font-weight: 700;

  src: url(../fonts/web/robotobold.woff) format(woff);
  src: url(../fonts/web/robotobold.woff2) format(woff2);

}

body{
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #fff;

  background-color: #849d8f;
  background-image: url(../img/bg/1/bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.main_navigation {
  font-size: 16px;
  line-height: 18px;
  color: #fff
}

.site_navigation,
.user_navigation,
.catalog_list {
  list-style: none;
}

.site_navigation a,
.user_navigation a,
.catalog_list a {
  color: #ffffff;
}

.site_navigation a:hover,
.site_navigation a:focus,
.user_navigation a:hover,
.user_navigation a:focus {
  background-color: #fff;
  color: #000;
}
.catalog_list {
  visibility: hidden;
}
.visually_hidden {
  visibility: hidden;
}

.slider_text {
  font-size: 60px;
  line-height: 60.35px;
}
.slider_page_button{
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.button{
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  width: 280px;
  height: 64px;
}

.header_contacts {
  font-size: 14px;
  line-height: 16px;
}
.header_contacts--phone{
  font-size: 22px;
  line-height: 24px;
}
.offer_title{
  font-size: 35px;
  line-height: 41px;
}
.offer_text {
  font-size: 18px;
  line-height: 22px;
}
.offer_button{
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}
.price {
  font-size: 45px;
  line-height: 45px;
}
.units {
  font-size: 45px;
  line-height: 45px;
}
.advantages{
  background-image: url(../img/seo/bg.jpg);
  color: #000;
}
.advantages_title{
  font-size: 24px;
  line-height: 30px;
}
.advanages_product{
  list-style: none;
}
.blog_new{
  color: #000;
}
.blog_title {
  font-size: 24px;
  line-height: 30px;

  color: #000;
  text-decoration: underline;
}
.adress_title{
  font-size: 14px;
  line-height: 20px;
}
.contacts_adress{
  font-size: 18px;
  line-height: 24px;
}
.contacts_title{
  font-size: 14px;
  line-height: 20px;
}
.contacts_tel {
  font-size: 18px;
  line-height: 22px;
}
.service_info {
  font-size: 13px;
  line-height: 18px;
  list-style: none;
  color: #000;
}

.service_info a{
  color: #000;
}

.footer_copyright{
  font-size: 12px;
  line-height: 18px;
  color: #000;
}

.footer_copyright a{
  color: #000;
}
